@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,500&display=swap');
/*
YTC Orange = #f1592a
*/
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background: whitesmoke;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 2.5%;
}

li, a, button {
    font-weight: 500;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

#logo{
    height: 70px;
    width: 100%;
}

/* Form Styling */

body{
    background: rgb(255, 174, 142);
}
.form-body{
    display: flex;
    min-height: 80vh;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 50px;
    border: solid 3px blue;
}

.form-container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border: solid 2px black;
    margin: 0 15px;
    padding: 20px;
    background: whitesmoke;
}

.form-header {
    position: relative;
    font-size: 20px;
    font-weight: 500px;
    color:#f1592a;
    margin: 5px 3px;
    border: solid 1pt red;
}